body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.sidebar {
  background-image: linear-gradient(to bottom, rgba(58, 141, 255, 0.85), rgba(134, 185, 255, 1)), var(--img);
  width: 80%;
  background-size: cover;
  display: flex;
}